.chat_item_wrapper {
    display: flex;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.chat_item_wrapper:hover,
.active {
    background-color: #282142;
    border-radius: 5px;
}

.chat_item_avatar {
    position: relative;
}

.item_avatr {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.online_status, .offline_status {
    font-size: 1.2rem;
    font-weight: 300;
}

.online_status {
   color: var(--success-color);
}
.offline_status {
   color: var(--danger-color);
}
.chat_item_name {
    font-weight: 500;
}

.message_notification {
    position: absolute;
    top: 22px;
    right: 10px;
    background-color: var(--danger-color);
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

/*--------------------------- Loading -------------------*/

.chat_item_avatar_loading {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #fff;
}

.chat_item_name_loading {
    background-color: #fff;
    width: 80px;
    height: 12px; 
    margin-bottom: 10px;
}

.last_chat_loading {
    width: 50px;
    height: 12px;
    background-color: #fff;
}

