.form {
    border: 2px solid oklch(0.55 0.03 264.36 / 1);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.title,
.input,
.btn-auth,
.wrap_terms {
    margin-bottom: 20px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.input {
    height: 42px;
    width: 300px;
    padding: 11px 12px 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    font-size: 1.6rem;
    background: transparent;
    outline: none;
    color: #fff;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input:focus {
    border-color: #8b5cf6;
    border-width: 2px;
}

.btn-auth {
    height: 48px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: oklch(71.4% .203 305.504);
    color: #fff;
}

.wrap_terms {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 200;
    color: oklch(55.1% .027 264.364);
}

.wrap_terms p {
    margin-left: 6px;
}

.wrap_terms input {
    height: 13px;
}

.wrap_redirect {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.wrap_redirect p {
    font-weight: 200;
    color: oklch(55.1% .027 264.364);
    margin-right: 3px;
}

.wrap_redirect span {
    color: oklch(60.6% .25 292.717);
    margin-right: 3px;
    font-weight: 600;
    cursor: pointer;
}


.auth-err {
    color: var(--danger-color);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: -15px ;
    margin-bottom: 10px;
}