.list_wrapper {
    flex: 1;
    padding: 20px;
    background-color: #8185b21a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list_header__icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.infor_profile {
    display: flex;
    align-items: center;
}

.infor_profile_avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.infor_profile_name {
    font-weight: 600;
    color: #fff;
    font-size: 1.6rem;
}

.extension_icon::after {
    content: '';
    width: 150px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: -10px;
}

.extension_icon_wrapper:hover .extension_wrapper {
     display: block;
}

.extension_wrapper { 
    position: absolute;
    z-index: 2;
    width: 150px;
    background-color: #282142;
    border-radius: 5px;
    border: 1px solid oklch(0.55 0.03 264.36 / 1);
    padding: 20px;
    font-size: 1.4rem;
    top: 95%;
    right: -1px;
    display: none;
    font-family: var(--font-family);
    text-align: left;
}

.extension_logout {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.list_header__search {
    position: relative;
}

.search_icon {
    position: absolute;
    font-size: 1.2rem;
    top: 9px;
    left: 10px;
}

.input_search {
    width: 100%;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #282142;
    padding: 8px 10px 5px 35px;
    color: #fff;
}


/*---------------- list chat--------------------- */

.list {
    margin-top: 30px;
}


/*----------------------- Serach result -------------------*/
.list_search_result {
    list-style-type: none;
    background-color: #fff;
    position: absolute;
    top: 35px;
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    color: #000;
}

.search_result_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
}

.search_result_item:hover {
    background-color: #8185b21a;
    border-radius: 5px;
}

.result_avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
}

.result_name {
    font-weight: 600;
    line-height: 2rem;
}